<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Kitespots</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= kitespot.image%>">
                <div class="caption-full">
                    <h4 class="pull-right"><%= kitespot.wind %> Beaufort Average</h4>
                    <h4><%= kitespot.name %></h4>
                    <p><%= kitespot.description %></p>
                    <p>
                        <em>Submitted by: <%= kitespot.author.username %>, <%= moment(kitespot.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && kitespot.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/kitespots/<%=kitespot._id %>/edit">Edit</a>
                        <form class="delete-form" action="/kitespots/<%= kitespot._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/kitespots"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
            </div>
            
            <!--Review section-->
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (kitespot.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (kitespot.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (kitespot.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (kitespot.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (kitespot.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= kitespot.reviews.length %>)</em>
                    </p>
                    <p>
                        Current kitespot rating: <strong><%= kitespot.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this kitespot:</h4></p>
                    <hr style="margin-top: 0;">
                    <% kitespot.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/kitespots/<%=kitespot._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/kitespots/<%=kitespot._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/kitespots/<%= kitespot._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && kitespot.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/kitespots/<%= kitespot._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
            
            
            
            
           <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/kitespots/<%= kitespot._id%>/comments/new">Add Comment</a>
                </div>
                <hr>
                <% kitespot.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/kitespots/<%= kitespot._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/kitespots/<%= kitespot._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                    </div>
                </div>
                 <% }) %>
            </div>
        </div>
    </div>
</div>
















<% include ../partials/footer %>